<IfModule mod_rewrite.c >
    RewriteEngine On

    Options -Indexes

    # Route all requests to sign-in.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?$1 [QSA,L]
</IfModule>